<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.first">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.First">
        <activity
            android:name=".Update_profile"
            android:exported="false" />
        <activity
            android:name=".Profile"
            android:exported="true"></activity>
        <activity
            android:name=".Profile_Creating"
            android:exported="false" />
        <activity
            android:name=".Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WebView"
            android:exported="false" />
        <activity
            android:name=".Help"
            android:exported="false" />
        <activity
            android:name=".Obese"
            android:exported="false" />
        <activity
            android:name=".Over_weight"
            android:exported="false" />
        <activity
            android:name=".Under_weight"
            android:exported="false" />
        <activity
            android:name=".Normal"
            android:exported="false" />
        <activity
            android:name=".BMI_Chart"
            android:exported="false" />
        <activity
            android:name=".BMI_Explain"
            android:exported="false" />
        <activity
            android:name=".ShowDeatail"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>